---
layout: home
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="post-preview">
  <a href="{{ site.baseurl }}{{ post.url }}" class="post-link">
    <img src="img/{{ post.featured-image }}" alt="Artwork by {{ post.title }}" />
  </a>
  <div class="content">
    <h2>Interview with {{ post.title }}</h2>
    <p class="post-meta">{{ post.job }}</p>
    {{ post.excerpt }}
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-interview">Read Interview</a>
  </div>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
  {% endif %}
</div>
