<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
      </div>
      <div class="footer-col footer-col-3">

        <ul class="contact-list">
          <li>
            If you would like to be interviewed, send me an email:
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
