@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


// Define defaults for each variable.

$base-font-family: 'Gentium Book Basic', serif;
$heading-font-family: 'Open Sans', sans-serif;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #444 !default;
$background-color: #fdfdfd !default;
$brand-color:      #49A0D5 !default;
$light-blue:       #49A0D5;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$box-shadow: 0px 10px 40px -20px rgba(0,0,0,0.75);
// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "neat",
  "minima/base",
  "minima/layout"
;
